<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0e4aef26a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Pattaya&display=swap" rel="stylesheet">
    <title>TravelApp</title>
</head>
<body>
    <header class="header">
        <h1>TravelApp</h1>
    </header>

    <main>

        <section class ="container">
            <div class="form">

                <p>Destination:</p>
                <input id="input-city"
                    placeholder="Please enter a valid city"
                type="text" required>
    
                <p>Start Date:</p>
                <input id="input-start-date"
                    placeholder="dd/mm/yyyy"
                type="date" required>
    
                <p>End Date:</p>
                <input id="input-end-date"
                    placeholder="dd/mm/yyyy"
                type="date" required>
    
                <button id="submit-button" class = "submit-button" onclick="return Client.handleSubmit(event)" type="button">Submit</button> 
                <!-- <button id = "deleteTrip-button" class = "deleteTrip-button" type="button">Delete Trip</button> -->
            </div>

            <div class="info">
    
                <p>Country:<div id="country"></div></p>
                <p>City:<div id="placeName"></div></p>
                <p>Latitude:<div id="latitude"></div></p>
                <p>Longitude:<div id="longitude"></div></p>
                <p>Start Date:<div id="start"></div></p>
                <p>End Date:<div id="end"></div></p>
                <p>Expected Weather:<ul id="weather"></ul></p>
                <p>Weather Icon:<div id="icon"></div></p>
                <p><img id="img"></img></p>
            </div>


        </section>

    </main>
    <footer class="footer">
        <h3>developed by Tamiris Cristine</h3>
        <ul>
            <li><a target="_blank" href="https://www.linkedin.com/in/tamiris-udacitystudent/"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a target="_blank" href="https://github.com/TamirisCss"><i class="fab fa-github"></i></a></li>
        </ul>
    </footer>
</body>
</html>