<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0e4aef26a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Pattaya&display=swap" rel="stylesheet">
    <title>TravelApp</title>
</head>
<body>
    <header class="header">
        <h1>TravelApp</h1>
    </header>

    <main>

        <section class ="container">
            <div class="form">

                <p>Destination:</p>
                <input id="input-city"
                    placeholder="Please enter a valid city"
                type="text" required>
    
                <p>Start Date:</p>
                <input id="input-start-date"
                    placeholder="dd/mm/yyyy"
                type="date" required>
    
                <p>End Date:</p>
                <input id="input-end-date"
                    placeholder="dd/mm/yyyy"
                type="date" required>
    
                <button id="submit-button" class = "submit-button" onclick="return Client.handleSubmit(event)" type="button">Submit</button> 
                <!-- <button id = "deleteTrip-button" class = "deleteTrip-button" type="button">Delete Trip</button> -->
            </div>

            <div class="form-img">
                <p><img id="img" src="./images/travel-girl.svg"></img></p>
            </div>

        </section>

        <div class="info">
            <div class="info-container">
                <div class="info-place">
                    <p>Country: <div id="country"></div></p>
                    <p>City: <div id="placeName"></div></p>
                </div>
                <div class="info-coordinate">
                    <p>Latitude: <div id="latitude"></div></p>
                    <p>Longitude: <div id="longitude"></div></p>
                </div>
                <div class="info-dates">
                    <p>Travel Date: <div id="countdown"></div></p>
                    <p>Duration: <div id="duration"></div></p>
                </div>

                <div class="info-weather">
                    <p>Weather: <ul id="weather"></ul></p>
                    <p><div id="icon"></div></p>
                </div>
            </div>
        </div>

    </main>
    <footer class="footer">
        <h3>developed by Tamiris Cristine</h3>
        <ul>
            <li><a target="_blank" href="https://www.linkedin.com/in/tamiris-udacitystudent/"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a target="_blank" href="https://github.com/TamirisCss"><i class="fab fa-github"></i></a></li>
        </ul>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
        </script>
</body>
</html>