$gradient: -webkit-linear-gradient(left, #38D39F, #38A4D3);

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
}

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import "reset";
@import "header";
@import "form";
@import "footer";

@media (max-width: 990px) {
    .form-img {
        padding: 1rem 0rem;
    }    
}

@media (max-width: 470px) {
    .footer {
        @include flex(center, center, column-reverse);
        
        h3 {
            padding: 0.7rem;
        }
        ul {
            padding-top: 0.7rem;
        }
    }
}
