main {
    min-height: 80vh;
}
.container {
    @include flex(space-between, center, row);
    flex-wrap: wrap;
    margin: 1rem 1rem 0rem 1rem;
}

.form {
    border: 2px solid rgba($color: #000000, $alpha: 0.2);
    padding: 1rem;
    flex: 1 1 30rem;

    p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    input {
        width: 100%;
        padding: 0.7rem;
        margin-bottom: 1.2rem;
        font-size: 1rem;
    }

    button {
        width: 50%;
        padding: 0.7rem;
        font-size: 1rem;
        cursor: pointer;
        background: $gradient;
        border: none;
        color: white;
        &:hover {
            background: -webkit-linear-gradient(left, #38A4D3, #38D39F);
        }
    }
}
.form-img {
    flex: 1 1 30rem;
    padding: 1rem;
    #img {
        width: 100%;
        object-fit: cover;
    }
}

.info {
    font-size: 1.1rem;
    @include flex(center, center, row);
    #country,
    #placeName,
    #longitude,
    #latitude,
    #countdown,
    #duration,
    #weather {
        margin-bottom: 1rem;
    }
    .info-place,
    .info-coordinate,
    .info-dates,
    .info-weather {
        flex: 1 1 10rem;
        max-width: 100%;
    }
    .info-container {
        padding: 1rem;
        width: 100%;
        @include flex(space-around, center, row);
        flex-wrap: wrap;
    }
    #icon img {
        width: 3rem;
    }
}

